<div class="comment">
  Title: <%= comment.title %>
  <p><%= comment.content %></p>

  <p>Written by: <%= comment.user.try(:name) %></p>

  <a href="/comment/<%= comment.id %>/edit">Edit</a>
  
  <form action="/comment/<%= comment.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete!">
  </form>
</div>