<div class="article">
  Title: <a href="<%= @article.url %>"><%= @article.title %></a>

  <p>Tags: <%= @article.tags_str %></p>

  <div class="article_reply_box">
    <%= erb :'comment/new', locals: {article_id: @article.id, parent_id: nil} %>
  </div>

  <ul class="comment_list">
    <% @article.comments.each do |comment| %>
      <li><%= erb :'comment/show', locals: {comment: comment} %></li>
    <% end %>
  </ul>
</div>